{% extends 'base.html' %}

{% comment %} for head title tags and helping us with SEO {% endcomment %}
{% block title %}Brands{% endblock  %}

{% block content %}

<h1 class="title pt-5">Polish Brands</h1>
<div class="gallery">
  {% for brand in brands %}
  <a href="">
    <div class="card">
      <div class="card-image">
        <figure class="image is-square">
          <img src="{{brand.image}}" alt="{{brand.name}}" />
        </figure>
      </div>
      <div class="card-header">
        <p class="card-header-title">{{brand.name}}</p>
      </div>
    </div>
  </a>
	{% empty %}
  <article class="message">
    <div class="message-header">
      <p>No Brand Available</p>
    </div>
  </article>
  {% endfor %}
</div>
{% endblock %}