{% extends 'base.html' %}

{% comment %} for head title tags and helping us with SEO {% endcomment %}
{% block title %}Polishes{% endblock  %}

{% block content %}

<h1 class="title pt-5">{{header}}</h1>
<form class="mb-5" method="get">
  <div class="field has-addons">
    <div class="control">
      <!--  Our input will search by name of artist  -->
      <input class="input" type="text" name="name" placeholder="search polishes" />
    </div>
    <div class="control">
      <input class="button is-success" type="submit" value="Search" />
    </div>
  </div>
  <!--  This anchor tag will redirect back to artist list without a query param -->
  <a class="button is-dark" href="{% url 'polish_list' %}">Clear Search</a>
  <a class="button is-dark" href="{% url 'polish_create' %}">Add Polish</a>
</form>

<div class="gallery">
  {% for polish in polishes %}
  <a href="{% url 'polish_detail' polish.pk %}">
    <div class="card">
      <div class="card-image">
        <figure class="image is-square">
          <img src="{{polish.image}}" alt="{{polish.name}}" />
        </figure>
      </div>
      <div class="card-header">
        <p class="card-header-title">{{polish.name}}</p>
      </div>
    </div>
  </a>
	{% empty %}
  <article class="message">
    <div class="message-header">
      <p>No Polishes Available</p>
    </div>
  </article>
  {% endfor %}
</div>
{% endblock %}